.tailor-header {
  /* background-color: aqua; */
  padding: 1rem 0;
  box-shadow: 0 2px 5px rgba(0,0,0,0.1);
  position: sticky;
  top: 0;
  z-index: 100;
  width: 100%;
  background-color: white;
}

.header-container {
  display: flex;
    flex-wrap: wrap;

  align-items: center;
  justify-content: space-between;
  width: 90%;
  margin: 0 auto;
  height: 100%;
}
.header-container button img{
    width: 40px;
    height: auto;
}
.header-container button span{
    font-size: 2.5rem;
      color: #a30f0f;

}


.logo-container {
  display: flex;
  align-items: center;
  gap: 10px;
}

.logo-image {
  height: 50px;
  width: auto;
}

.logo-text {
  font-size: 1.2rem;
  font-weight: bold;
  color: #333;
}

.catalog-button {
  display: flex;
  align-items: center;
  gap: 8px;
  background-color: transparent;
  border: none;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  cursor: pointer;
  font-weight: 500;
  color: #333;
  transition: background-color 0.2s;
}


.catalog-icon {
  width: 24px;
  height: 24px;
}

.search-container {
  flex: 1;
  max-width: 500px;
  min-width: 325px;
  margin: 0 2rem;
  display: flex;
  border: 1px solid #a30f0f;
  border-radius: 30px;
  overflow: hidden;
}

.search-input {
  flex: 1;
  padding: 0.5rem 1rem;
  border: none;
  outline: none;
  font-size: 0.9rem;
}

.search-input::placeholder {
    color: #a30f0f;

}

.search-button {
  background-color: #a30f0f;
  border: none;
  padding: .5rem 1rem;
  cursor: pointer;
}

.search-icon {
  width: 20px;
  height: 20px;
}

.icon-group {
  display: flex;
  gap: 1.5rem;
}
.icon-group img{
    width: 50px;
    height: auto;
}

.header-icon {
  width: 24px;
  height: 24px;
  cursor: pointer;
  transition: transform 0.2s;
}

.header-icon:hover {
  transform: scale(1.1);
}

/* Responsive styles */
@media (max-width: 768px) {
  .header-container {
    flex-wrap: wrap;
    gap: 1rem;
  }
  
  .search-container {
    order: 3;
    width: 100%;
    margin: 0.5rem 0;
  }
  
  .logo-text {
    display: none;
  }
    .header-container{
    justify-content: center;
    align-items: center;
  }
  .catalog-button{
    display: none;
  }
  .icon-group{
    display: none;
  }
}
@media (max-width: 480px){
   .search-container {
    order: 3;
    width: 100%;
    margin: 0.5rem 0;
  }
  .header-container{
    justify-content: center;
    align-items: center;
  }
  .catalog-button{
    display: none;
  }
  .icon-group{
    display: none;
  }
}
/* src/components/Header/Header.css */
.favorites-icon-container {
  position: relative;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.heart-icon {
  color: #e63946;
  font-size: 1.5rem;
}

.favorites-count {
  position: absolute;
  top: -5px;
  right: -5px;
  background-color: #e63946;
  color: white;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 0.7rem;
  font-weight: bold;
}